# Configurações do Banco de Dados
DATABASE_URL_ASYNC=postgresql+asyncpg://usuario:senha@localhost:5000/nome_do_banco
DATABASE_URL_SYNC=postgresql+psycopg2://usuario:senha@localhost:5000/nome_do_banco

# Segurança
# Gere uma chave segura com: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=sua-chave-secreta-aqui